<ion-app class="color">
    <ion-header translucent>
      <ion-toolbar>
          <ion-buttons class="color" slot="start">
              <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
        <ion-title class="color">Claims Status</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="5">                
                
        <ion-card-header>
            <ion-card-subtitle class="color">Appliance:</ion-card-subtitle>
            <ion-card-title class="color">Microwave</ion-card-title>
          </ion-card-header>
          <ion-card-header>
              <ion-card-subtitle class="color">Status:</ion-card-subtitle>
              <ion-card-title class="color">Pending</ion-card-title>
            </ion-card-header>
            </ion-col>
            <ion-col size="7">                
                <img src="../../assets/icon/microwave_transparent.jpg" />
            </ion-col>
          </ion-row>
          <ion-row offset="1">
              
        <ion-item>
            <ion-label class="color3">Description:</ion-label>
          </ion-item>
        <ion-card-content class="color">
          First American Home Warranty team is looking into the isuue.
        </ion-card-content>
          </ion-row>
        </ion-grid>
        
      </ion-card>
    </ion-content>
  </ion-app>