
.color{
    color: azure
}

.color2{
    color: azure;
    text-align: center
}

.color3{
    color: azure;
    font-size: 15px;
    font-weight: 700;
}

.image{
    background-color: transparent;
    background: transparent !important;
}